.exp {
	display: inline;
	width:20px;
	height:20px;
}
.heart {
	display: inline;
	width:20px;
	height:20px;
}
.berry {
	display: inline;
	width:20px;
	height:20px;
}
.caught {
	display: inline;
	width:20px;
	height:20px;
}
.charm {
	display: inline;
	width:20px;
	height:20px;
}
.coin {
	display: inline;
	width:20px;
	height:20px;
}
.common {
	display: inline;
	width:20px;
	height:20px;
}
.egg {
	display: inline;
	width:20px;
	height:20px;
}
.gb {
	display: inline;
	width:20px;
	height:20px;
}
.legend {
	display: inline;
	width:20px;
	height:20px;
}
.loot {
	display: inline;
	width:20px;
	height:20px;
}
.mb {
	display: inline;
	width:20px;
	height:20px;
}
.pb {
	display: inline;
	width:20px;
	height:20px;
}
.pkb {
	display: inline;
	width:20px;
	height:20px;
}
.quest {
	display: inline;
	width:20px;
	height:20px;
}
.rare {
	display: inline;
	width:20px;
	height:20px;
}
.repel {
	display: inline;
	width:20px;
	height:20px;
}
.shiny {
	display: inline;
	width:20px;
	height:20px;
}
.superrare {
	display: inline;
	width:20px;
	height:20px;
}
.token {
	display: inline;
	width:20px;
	height:20px;
}
.ub {
	display: inline;
	width:20px;
	height:20px;
}
.uncommon {
	display: inline;
	width:20px;
	height:20px;
}
.xpshare {
	display: inline;
	width:20px;
	height:20px;
}
.order {
	display: inline;
	width:20px;
	height:20px;
}
.catchchart {
	display: inline;
	width:800px;
	height:200px;
}
.ticket {
	display: inline;
	width:20px;
	height:20px;
}
.fire {
	display: inline;
	width:20px;
	height:20px;
}
img.logo{
  width: 250px;
  height: auto;
  top: 5px;
  right: 100px;
}
.quest1 {
	display: inline;
	width:500px;
	height:200px;
}